<!-- //***Music-Collection Start***// -->
<section class="music-collection" id="download">
    <div class="special-style special-style-dark special-style-full col-md-12 col-sm-12 col-xs-12">
        <div class="bg-image " style="background-image:url('assets/img/background/song-music.jpg');"></div>
    </div>
    <div class="container">
        <div class="row padTB100">
            <!-- //***Theme-heading Start***// -->
            <div class="theme-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
                            <div class="theme-bdr">
                                <h5>Download game</h5>
                                <h3><span>ดาวน์โหลดเกม</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //***Theme-heading End***// -->
            <div class="clear"></div>
            <div class="music-collection-slider">
                <div id="music" >
                    <div class="item">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="collection-image">
                                <div class="collection-img img-hover">
                                    <figure class="image-hover">
                                        <img src="assets/img/logo-king168.png" alt="">
                                        <figcaption>
                                            <a href="https://m.king168th.com/download" target="_blank"><img src="assets/img/compact-disc.png" alt=""></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="collection-bdr"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="collection-image">
                                <div class="collection-img img-hover">
                                    <figure class="image-hover">
                                        <img src="assets/img/logo-scr888.png" alt="">
                                        <figcaption>
                                            <a href="http://m.scr888.com/" target="_blank"><img src="assets/img/compact-disc.png" alt=""></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="collection-bdr"></div>
                            </div>
                        </div>
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //***Music-Collection End***// -->