<!-- //***Header-section Start***// -->
<div class="main-header">
  <div id="main-menu" class="wa-main-menu main-menu">
    <nav class="navbar navbar-toggleable-md navbar-inverse theme-bg mar0 bg-company-color" role="navigation">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <img src="assets/img/logo.png" alt="logo-brand" height="93" width="auto">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">หน้าแรก
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#download">ดาวน์โหลด</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#installation">วิธีติดตั้ง</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#download-game" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              วิธีติดตั้ง
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">android-แอนดรอย</a>
              <a class="dropdown-item" href="#">iOS-ไอโฟน ไอแพด</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#contact">ติดต่อเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#register">สมัครสมาชิก</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- //***Header-section End***// -->
