
<!-- //***Footer-Section Start***// -->
<section class="footer-section">
  <div class="special-style special-style-dark special-style-full col-md-12 col-sm-12 col-xs-12">
    <div class="bg-image " style="background-image:url('assets/img/background/footer-bg.jpg');"></div>
  </div>

  <div class="newsletter">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="sign-up-detail">
                        <ul class="box">
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="">หน้าแรก
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#download">ดาวน์โหลด</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#installation">วิธีติดตั้ง</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#contact">ติดต่อเรา</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#register">สมัครสมาชิก</a>
                                </li>
                              </ul>
                </div>
        </div>
    </div>

  <div class="copyright-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="footer-logo">
              <a routerLink="">
                <img src="assets/img/footer-logo.png" alt="">
              </a>
            </div>
            <div class="copyright-text">
              <p>V8 SLOT PLUS</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 inline-block">
            <div class="testimonial">
              <a [href]="line.link" target="_bank">
                <img src="assets/img/contact/qrcode_line.jpg" alt="">
              </a>
            </div>
            <div class="copyright-text">
              <a [href]="line.link" target="_bank">
                <p style="padding-left:10px">Add Line ID: {{ line.id }}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
          <div class="fb-page" data-href="https://www.facebook.com/V8slotPlus/" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/V8slotPlus/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/V8slotPlus/">V8slot Plus</a>
            </blockquote>
          </div>
          <div class="copyright-icon text-xs-right">
            <a [href]="line.link" target="_bank">
              <i class="icofont icofont-brand-line-messenger" aria-hidden="true"></i>
            </a>
            <a [href]="facebook.link" target="_bank">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a [href]="instagram.link" target="_bank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <p>
              <a href="https://slowlifecoding.com" target="_bank">
                <i class="fa fa-copyright" aria-hidden="true"></i> V8SLOT design by slowlifecoding</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- //***Footer-Section End***// -->
