 <!-- //***Contact-Section Start***// -->
 <section class="bg padTB100" id="contact">
    <!-- //***Theme-heading Start***// -->
    <div class="theme-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
                    <div class="theme-bdr">
                        <h5>contact us</h5>
                        <h3><span>ติดต่อเรา</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //***Theme-heading End***// -->
    <div class="contact-section">
        <div class="container">
            <div class="row  padB20">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-box">
                        <div class="footer-icn">
                            <a [href]= "line.link" target="_bank"><i class="icofont icofont-brand-line-messenger" aria-hidden="true"></i></a>                            
                        </div>
                        <div class="footer-text">
                            <p>{{ line.id }}</p>                    
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 xs-pad">
                    <div class="footer-box">
                        <div class="footer-icn">
                            <a [href]= "facebook.link" target="_bank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <div class="footer-text">
                            <p>{{ facebook.id }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 xs-pad">
                    <div class="footer-box">
                        <div class="footer-icn">
                            <a [href]= "instagram.link" target="_bank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <div class="footer-text">
                            <p>{{ instagram.id }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="newsletter marT70">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="sign-up-detail">
                                <h5>Promotions</h5>
                                <h3>ติดตามโปรโมชั่นดีๆ ได้ที่ช่องทาง LINE</h3>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="newsletter-bar">
                                <input type="text" placeholder="Enter your E-mail address">
                            </div>
                            <div class="subscribe">
                                <input type="submit" value="subscribe" class="itg-btn news-btn">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="sign-up-box">
                                <div class="sign-up-details float-xs-right">
                                    <h5>working hours : monday-saturday close : sunday</h5>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //***Contact-Section End***// -->
